# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/
out/
demo.cast

### /workflows/ ###
.github/workflows/README.md
.github/workflows/hexlet-check.yml